:root{
    --bgcolour: rgb(207, 207, 186);
    --textcolour: black;
    --bordercolour: rgb(41, 42, 35);
    --buttoncolour: rgb(255, 252, 235);
    --mainfont: "Modern No. 20";
}

*{
    background-color: var(--bordercolour);
    color: var(--textcolour);
    font-family: var(--mainfont);
}

h1{
    display:flex;
    justify-content: center;
    margin: 5%;
    padding: 5%;
    background-color: var(--bgcolour);
    font-size:xxx-large;
}

.dinotext{
    display:flex;
    justify-content: center;
    margin: 5%;
    padding: 5%;
    width: 75%;  
    margin-left:7.5%;
    background-color: var(--bgcolour);
    font-size:xx-large;
}

#dinoname{
    font-size: xx-large;
    height:2vh;
}

.button{
    display:block;
    margin:auto;
    padding: 5%;
    font-size:xx-large;
    background-color: var(--buttoncolour);
}

@media(min-width:1200px){
    h1{
        font-size:x-large;
        margin: 2%;
        padding: 2%;
    }

    .button{
        font-size:x-large;
        padding:2%;
    }

    .dinotext{
        margin:2%;
        padding:2%;
        margin-left:11%;
        font-size: large;
    }

    #dinoname{
        font-size:x-large;
    }

}

